body{
	display: flex;

	background: transparent;
	/* background: black; */


}
.maincontainer{
	width: 100%;
	height: 550px;
}
.threesection{
	display: flex;
	height: auto;
	grid-gap: 20px;
	justify-content: center;


}


.daySection{
	/* position: absolute; */
	display: grid;
	display: none;
	width: 420px;
	height: 550px;
	bottom: 0px;
	left: 0px;
	background-color: #efefef;
	 grid-template-columns: repeat(7, 1fr);
	 gap: 3px;
	 border-radius: 20px;
	 box-shadow: 2px 2px 30px rgb(255, 255, 255), 0.2;
	 overflow: hidden;
	 

}

.month_book{

	grid-column:1/8;
	font-family: Euclid Circular A;
	margin-top: 30px;


}
.bookcal{
margin: 0 0 0 20px;
width: auto;
font-size: 22px;
font-weight: bold;
color: #0a1931;


}
.monthcal{
	font-size: 17px;
	margin: 10px 50px ;
	color: #0a1931;

	
}
.daysCont{
	position: absolute;
	display: grid;
	grid-column:1/8;
	margin: 160px 20px;
	height: 265px;
	width: 380px;
	grid-template-columns: repeat(7, 1fr);
	

}
.dayCont{
font-size:15px;
height: 50px;
display: flex;
transition: 0.3s;
border-radius: 100%;
width: auto;
align-items: center;
justify-content: center;
/* background-color: yellowgreen; */




}
.weekCont{
	position: absolute;
	display: grid;
	grid-column:1/8;
	grid-template-columns: repeat(7, 1fr);
	height: 60px;
	width: 380px;
	margin-left: 20px;
	place-items: center;
	margin-top: 100px;
	/* background-color: red; */
}
.weeki1{
display: flex;
align-items: center;
justify-content: center;
/* color: #ffffff; */
color: #26344b;
/* font-weight: bold; */
background-color:#2469f310 ;
border-radius: 10px;
height: 40px;
width: 52px;
/* font-weight: bold; */
font-weight: 600;



}
.dayofwk{
	font-size: 15px;
	color: #26344b;


}
.day{
	color: #26344b;
	opacity: 55%;
	font-size: 18px;
	font-family: Euclid Circular A;


}
.dayCont:hover{
	background: crimson;
	background: rgba(150, 150, 150, 20%);
	transition: 0s;

}
.dayCont:active{
	display: flex;
	background: crimson;
	border-style: none;
	/*transition: 0.2s;*/
}


.markedDateCont{
	/* position: absolute; */
	font-family: Euclid Circular A;
	display: flex;
	width: 250px;
	height: 50px;
	background: #2469f310  ;
	/* bottom: 20px; */
	margin-top: 40px;
	margin-left: 170px;
	border-radius: 20px;
	margin-right: 20px;
	gap: 3px;
	align-items: center;
	justify-content: center;
	color: #236af3;
	transition: 0.2s;
	/* box-shadow:10px 5px 10px rgba(0, 14, 30, 0.146); */
	
}
#selected_ann{
	display: none;
	/* margin-left: 3px; */
}

#markedDate{
	font-family: euclid circular a;
	font-size: 17px;
	/* margin-right: -18px; */
	

}
.chicknumber{
	/* display: none; */
	background-color: #efefef;
	border-radius: 20px;
	width: 420px;
	height: 550px;
	opacity: 0%;
	transition: 0.3s;
	overflow: hidden;


}

.numbChicks{
font-family: Euclid Circular A;
font-weight: bold;
margin: 30px 0 0 20px;
width: auto;
font-size: 20px;
color: #0a1931;
}
.order_details{
font-family: Euclid Circular A;
font-weight: bold;
margin: 30px 32px ;
width: auto;
font-size: 20px;
color: #0a1931;
}
.chicksType{
font-family: Euclid Circular A;
font-size: 16px;
margin: 15px 0 10px 20px;
color: #26344b;
}
#chicksAmount{
	position: absolute;
	font-family: Euclid Circular A;
	width: 200px;
	margin-top: 10px;
	font-size: 30px;
	border: none;
	outline: none;
	background: #26344b;
	background:transparent;
	font-weight: lighter;
	
	color: #26344b;
	display: none;

}
#quantity_numb{
	position: absolute;
	margin-top: 10px;
	font-size: 14px;
	font-size: 20px;
	transition: 0.3s;
	color: #26344b;
	opacity: 70%;
	cursor: pointer;
	/* background-color: #0a1931; */
	width: 210px;

}


#legfield{
	border-radius: 10px;
	width: 220px;
	height: 40px;
	background-color: #ffffffa3;
	border: 1px solid rgb(20, 20, 20, 20%);
	margin: 30px 0 0 20px;
}
.chickCost{
	position: absolute;
	display: flex;
	
	width: 150px;
	height: 50px;
	margin-top: -2px;
	margin-left: 20px;
	color: #ffffff;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	font-size: 15px;

}
#oneChickCost{
	font-family: Euclid Circular A;
	/* color: #ffc947; */
	/*font-size: 27px;*/


}
.oneChickCost{
	font-family: Euclid Circular A;
	color: #26344b;
	/*font-size: 27px;*/


}
.TotalCost{
	position: absolute;
	display: flex;
	width: 250px;
	height: 50px;
	margin-top: 200px;
	margin-left: 20px;
	color: #26344b;

	border-radius: 20px;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	gap: 10px;
	font-weight: bold;
	
}
.perchick{
	font-family: Euclid Circular A;
	color: #26344b;

	/*font-size: 16px;*/

	margin-left: 5px;
	word-spacing: -1px;
}

.currencyAll{
	background-color: rgba(0, 0, 0, 100%);
	font-family: Euclid Circular A;
	width: auto;
	height: 30px;
	margin-top: 40px;
	margin-left: -95px;
	border-style: none;
	outline: none;
	font-size: 17px;
	border-radius: 20px;
	padding: 0px;
	color: #ffffff;

}


.pickupCont{
	background:rgba(250,250,250,20%);
	width: 250px;
	height: 70px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 45px;
	margin: 30px 0 0 20px;
}
.yourLocCont{
	width: 250px;
	height: 60px;
	margin-top: 50px;
	margin: 30px 0 0 20px;
	border-radius: 20px;
	/* display: none; */
	display: flex;
	justify-content: center;
	align-items: center;
	
	


}

.priceCutsCont{
	position: absolute;
	display: grid;
	grid-template-columns: repeat(1, 3fr);
	width: 350px;
	height: 140px;
	background: rgba(0, 30, 100, 20%);
	place-items: center;
	border-radius: 20px;
	grid-column-gap:2px ;
	margin-top: 50px;
	margin-left: 20px;

}
.priceCuts{
	display: flex;
	/* background: #26344ba3; */
	width: 93%;
	height: 40px;	
	border-radius: 20px;
	font-family: Euclid Circular A;
	font-size: 17px;
	color: #ffffff;
		align-items: center;
	text-align: center;
	/*margin-top: 20px;*/

}
.priceDrop{
	display: flex;
	/* color: #ffffff; */
	color: #ffffff;
	font-size: 17px;
	margin-left: 60px;
	background: #0a1931;
	/* background: #f8f8f8; */
	width: 100px;
	height: 30px;
	align-items: center;
	justify-content: center;
	border-radius: 20px;

}
.fromAm{
	width:170px;
	margin-left: 20px;
	text-align: left;
	
}





.location{
	background-color: #efefef;
	border-radius: 20px;
	width: 420px;
	height: 550px;
	display: none;
	
}

.order_infoCont{
	display: flex;
	width: 350px;
	height: 250px;
	margin-left: 30px;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
	/* background-color: red; */

}
.masge_cont{
	position: absolute;
	display: flex;
	width: 350px;
	height: 250px;
	margin-left: 5px;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
	background-color: #0a1931;
	background: rgb(229, 229, 229);
	text-align: center;
	border-radius: 10px;
	/* display: none; */
	
}

.order_Cont{
	width: auto;
	max-width: 345px;
	width: 345px;
	height: 55px;
	display: flex;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.187);
	backdrop-filter: blur( 20px );
	-webkit-backdrop-filter: blur( 50px );
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	border-radius: 10px;
	/* justify-content: space-evenly; */
	align-items: center;
	gap: 5px;

}
.order_SubCont{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 200px;
	/* padding-left: 10px; */
	height: 50px;
	/* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.187);
	backdrop-filter: blur( 20px );
	-webkit-backdrop-filter: blur( 50px );
	border: 1px solid rgba( 255, 255, 255, 0.18 ); */
	min-width: 100px;
	border-radius: 10px;
	font-size: 16px;
}
.user_choiceCont{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100px;
	overflow: hidden;
	border-radius: 5px;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	width: 180px;
	height: 40px;
	color: #efefef;
	margin-right: 8px;
	/* background-color: #0a1931; */
	background-color: #0a1931;
	/* color: #0a1931;
	font-weight: bold;*/
	font-size: 16px; 



}
#unauth_err1{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100px;
	overflow: hidden;
	border-radius: 5px;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	width: 180px;
	height: 40px;
	color: #efefef;
	margin-right: 8px;
	background-color: #0a1931;
	font-size: 16px;
	display: none; 



}
#unauth_err2{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100px;
	overflow: hidden;
	border-radius: 5px;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	width: 180px;
	height: 40px;
	color: #efefef;
	margin-right: 8px;
	background-color: #0a1931;
	font-size: 16px;
	display: none; 



}

/* #order_SubCont{
	width: 135px;
}
#order_SubCont1{
	width: 330px;
} */





.bottomContiueCont{
	position: absolute;
	width: 370px;
	height: 100px;
	margin-top: 440px;
	justify-content: center;
	overflow: hidden;
	display: none;
	
	
}
.steps{
	font-size: 14px;
	position: absolute;
	left: 130px;
	top: -13px;
	background-color: #efefef;
	width: 100px;
	border-radius: 10px;
	text-align: center;
}
#previous{
	font-size: 14px;
	position: absolute;
	left: 100px;	
	top: 4px;
	background-color: #efefef;
	width: 10px;
	height: 10px;


	border-radius: 10px;
	text-align: center;
	transition: 0.2s;
}
#previous:hover{
	width: 20px;
	height: 20px;
	top: -1px;
	/* left: 98px;	 */
	

}
.Continue_btn{
	padding:13px;
	width: 300px;
	margin: 20px 40px;
	border-radius: 10px;
	background-color: #236af3;
	border: none;
	color: #efefef;
	font-size: 17px;
	font-family: Euclid Circular A;
	cursor: pointer;
	display: none;
	

}
#sub_in{
	padding:13px;
	width: 300px;
	margin: 20px 40px;
	border-radius: 10px;
	background-color: #236af3;
	border: none;
	color: #efefef;
	font-size: 17px;
	font-family: Euclid Circular A;
	cursor: pointer;
	display: none;
	font-weight: bold;
	transition: 0.5s;
}
.frm_snd{
	height: 50px;
	/* background-color: red; */
}
.inv_form{
	display: none;
	visibility: hidden;
	z-index: -100;
}

.pending_item{
	width: 130px;
	border-radius: 50px;
}