body{
	display: flex;
	/* align-items: flex-start; */
	/* justify-content: center; */
	background: transparent;
	/* background: black; */


}
.maincontainer{

	width: 100%;
	height: 600px;
	/* background-color: #0a1931; */
	margin-top: -50px;
	/* margin: 0px 5% 0px 5%; */

}
.threesection{

	display: flex;
	height: auto;
	/* padding: 20px; */
	margin-top: 50px;
	grid-gap: 20px;
	justify-content: center;
	/* background-color: #1edf00; */


}


.daySection{
	display: grid;
	display: none;
	width: 420px;
	height: 550px;
	bottom: 0px;
	left: 0px;
	background-color: #efefef;
	 grid-template-columns: repeat(7, 1fr);
	 gap: 3px;
	 border-radius: 20px;
	 box-shadow: 2px 2px 30px rgb(255, 255, 255), 0.2;
	 

}
.daysCont{
	position: absolute;
	display: grid;
	grid-column:1/8;
	margin-top: 220px;
	height: 270px;
	width: 400px;

	grid-template-columns: repeat(7, 1fr);
	

}
.month_book{

	grid-column:1/8;
	font-family: Euclid Circular A;
	margin-top: 30px;


}
.bookcal{
margin: 0 0 0 20px;
width: auto;
font-size: 20px;
color: #0a1931;


}
.monthcal{
	font-size: 16px;
	margin: 15px 0 10px 20px;
	color: #0a1931;
	
}
.dayCont{
font-size:15px;
height: 53px;
display: flex;
transition: 0.3s;
border-radius: 20px;
width: auto;
align-items: center;
justify-content: center;



}
.weekCont{
	position: absolute;
	display: grid;
	grid-column:1/8;
	grid-template-columns: repeat(7, 1fr);
	height: 60px;
	width: 400px;
	place-items: center;
	margin-top: 100px
}
.weeki1{
display: flex;
align-items: center;
justify-content: center;
color: #ffffff;
background-color:#246af3 ;
border-radius: 10px;
height: 40px;
width: 52px;

}
.day{
	color: #26344b;
	opacity: 55%;
	font-family: Euclid Circular A;
	font-weight: bold;
	/*background: crimson;*/

}
.dayCont:hover{
	background: crimson;
	background: rgba(150, 150, 150, 20%);
	transition: 0s;

}
.dayCont:active{
	display: flex;
	background: crimson;
	border-style: none;
	/*transition: 0.2s;*/
}



.dayofwk{
	font-size: 12px;
	font-family: Arial;

}

.markedDateCont{
	font-family: Euclid Circular A;
	display: flex;
	/* position: absolute; */
	width: 250px;
	height: 50px;
	background: #26344b;
	bottom: 20px;
	margin-left: 19.5px;
	margin-top: 350px;
	/* margin-top: 470px;
	margin-left: -130px; */
	/* margin-bottom: 100px; */
	border-radius: 20px;
	gap: 20px;
	align-items: center;
	justify-content: center;
	color: #236af3;

}
#markedDate{
	font-family: arial;
	font-size: 20px;
	margin-right: -18px;
	

}
.chicknumber{
	/* display: none; */
	background-color: #efefef;
	border-radius: 20px;
	width: 400px;
	height: 550px;
	opacity: 0%;
	transition: 0.3s;


}

.numbChicks{
font-family: Euclid Circular A;
margin: 30px 0 0 20px;
width: auto;
font-size: 20px;
color: #0a1931;
}
.chicksType{
font-family: Euclid Circular A;
font-size: 16px;
margin: 15px 0 10px 20px;
color: #26344b;
}
#chicksAmount{
	font-family: Euclid Circular A;
	width: 200px;
	margin-top: -7px;
	font-size: 30px;
	border: none;
	outline: none;
	background: #26344b;
	background:transparent;

	font-weight: lighter;
	color: #FFC947;


}

#legfield{
	border-radius: 20px;
	width: 200px;
	height: 20px;
	background-color: #26344b;
	border: 3px solid rgba(230,230,250,30%);
	margin: 30px 0 0 20px;
}
.chickCost{
	position: absolute;
	display: flex;
	
	width: 150px;
	height: 50px;
	margin-top: 15px;
	margin-left: 20px;
	color: #ffffff;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	font-size: 15px;

}
#oneChickCost{
	font-family: Euclid Circular A;
	color: #ffc947;
	/*font-size: 27px;*/


}
.oneChickCost{
	font-family: Euclid Circular A;
	color: #26344b;
	/*font-size: 27px;*/


}
.TotalCost{
	position: absolute;
	display: flex;
	background-color: #26344b;
	width: 250px;
	height: 50px;
	margin-top: 129px;
	margin-left: 15px;
	color: #ffc947;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}
.perchick{
	font-family: Euclid Circular A;
	color: #26344b;
	/*font-size: 16px;*/

	margin-left: 5px;
	word-spacing: -1px;
}

.currencyAll{
	background-color: rgba(0, 0, 0, 100%);
	font-family: Arial;
	width: auto;
	height: 30px;
	margin-top: 40px;
	margin-left: -95px;
	border-style: none;
	outline: none;
	font-size: 17px;
	border-radius: 20px;
	padding: 0px;
	color: #ffffff;

}


.pickupCont{
	background:rgba(250,250,250,20%);
	width: 250px;
	height: 70px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 45px;
	margin: 30px 0 0 20px;
}
.yourLocCont{
	width: 250px;
	height: 60px;
	margin-top: 50px;
	margin: 30px 0 0 20px;
	border-radius: 20px;
	/* display: none; */
	display: flex;
	justify-content: center;
	align-items: center;


}
.chooseYourLoc{
	border-radius: 20px;
	font-family: Euclid Circular A;
	font-size: 20px;
	width: 230px;
	height: 50px;
	color: #ffffff;
	background-color: rgba(250, 250, 250, 50%);
	border-style: none;
	outline:none;
	margin-top: 20px;
	padding: 0 0 0 10px;
	font-weight: bold;
	/*text-align: center;*/
}
.chooseYourLoc:focus{
color: black;
}
.priceCutsCont{
	display: grid;
	grid-template-columns: repeat(1, 3fr);
	width: 100%;
	height: 60px;
	/* background: rgba(0, 30, 100, 20%); */
	place-items: center;
	border-radius: 20px;
	grid-column-gap:2px ;
	margin-top: 20px;

}
.priceCuts{
	display: flex;
	background: #26344ba3;
	width: 93%;
	height: 40px;	
	border-radius: 20px;
	font-family: Euclid Circular A;
	font-size: 17px;
	color: #ffffff;
		align-items: center;
	text-align: center;
	/*margin-top: 20px;*/

}
.priceDrop{
	display: flex;
	color: #ffffff;
	font-size: 17px;
	margin-left: 60px;
	background: #0a1931;
	width: 100px;
	height: 30px;
	align-items: center;
	justify-content: center;
	border-radius: 20px;

}
.fromAm{
	width:170px;
	margin-left: 20px;
	text-align: left;
	
}

.location{
	background-color: #efefef;
	border-radius: 20px;
	width: 400px;
	display: none;
}

.FinalCreCont{
	display: flex;
	width: 100px;
	height: 100%;
	border-right:1px solid  rgba(2, 2, 2, 0.177);
	justify-content: center;
	box-shadow: 2px 0px 1px #ffffff19;

}
.FinalDate{
	font-family: Arial;
	font-size: 25px;
	margin-top: 10px;
}
.FinalMonth{
	position: absolute;
	font-family: Arial;
	margin-top: 50px;
	text-align: center;
	font-weight: normal;
}
.FinalChicAmo{
	font-family: Arial;
	font-size: 25px;
}
#FnAmountCont{
	border-style: none;
}
#fst{
	height: 90px;
}
.mobliemCont{
	display: flex;
	width: 350px;
	height: 250px;
	background: #26344b00;
	margin: 15px 0 10px 20px;
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.285);
	border-radius: 20px;
	gap: 10px;
}
.moblieMoney{
	font-family: Euclid Circular A;
	margin-left: 14px;
	font-size: 17px;
}
#mtnmob{
	height: 60px;
	margin-top: 60px;
	margin-left: -135px;
	border-radius: 10px;
}
#airtelmob{
	height: 60px;
	margin-top: 60px;
	margin-left: 20px;
	border-radius: 10px;	
}
.airtelwrd{
	position: absolute;
	font-family: Euclid Circular A;
	font-size:18 ;
	margin-top: 125px;
	margin-left: 190px;
}
.mtnwrd{
	position: absolute;
	font-family: Euclid Circular A;
	font-size:18 ;
	margin-top: 125px;
	margin-left: 50px;
}
#visaPay{
	position: absolute;
	height: 60px;
	margin-top: 160px;
	margin-left: 15px;
	border-radius: 10px;
}
#mastercardPay{
	position: absolute;
	height: 60px;
	margin-top: 160px;
	margin-left: 150px;
	border-radius: 10px;	
}
.visawrd{
	position: absolute;
	font-family: Euclid Circular A;
	font-size:18 ;
	margin-top: 225px;
	margin-left: 50px;
}
.mastercardwrd{
	position: absolute;
	font-family: Euclid Circular A;
	font-size:18 ;
	margin-top: 225px;
	margin-left: 148px;
}
.GlobalMethod{
	font-family: Euclid Circular A;
	margin-left: 14px;
	font-size: 17px;

}
.DetailPayCont{
	display: flex;
	width: 350px;
	height: 100px;
	background: #246af3;
	margin: 15px 0 10px 20px;
	border-radius: 20px;
	gap: 10px;
	color: #ffffff;
	font-family: Euclid Circular A;
	justify-content: center;
}
.conferm{
	width: 250px;
	height: 50px;
	border-radius: 20px;
	margin-top: 40px;
	/* margin-left: 15px; */
	background: #ffffff;
	border: 2px outset #ffffff;
}
.next1{
	color: #26344b;
	position: absolute;
	font-size:20px;
	top: 550px;
	margin-left: 15px;
	justify-self: center;
	padding: 10px 30px;
	
	border-radius: 10px;
	/* border-bottom: 2px solid rgb(60, 20, 220);/ */
	cursor: pointer;
	background-color: #ffffff;
	text-align: center;
}

.next2{
	color: #26344b;
	position: absolute;
	font-size:20px;
	top: 550px;
	margin-left: 15px;
	justify-self: center;
	padding: 10px 30px;
	
	border-radius: 10px;
	/* border-bottom: 2px solid rgb(60, 20, 220);/ */
	cursor: pointer;
	background-color: #ffffff;
	text-align: center;
}
.loaderCont{
	background-color: rgba(21, 21, 21, 0.074);
	display: flex;
	width: 150px;
	height: 10px;
	margin-left: 230px;
	margin-top: 30px;
	gap: 1px;
	justify-content: space-around;
	align-items: center;
	border-radius: 20px;
	transition: 0.3s;
	
}
.loaderCont:hover{
	/* padding: 5px; */
	gap: 10px;
}
.loaderM{
	background-color: #cbcbcb;
	border-radius: 10px;
	width: 40px;
	height: 6px;
}