body{
	background: rgb(233, 234, 222);
	display: flex;
	justify-content: center;
	font-family: Arial;

}
.AllContnerDiv{
	display: flex;
	/* position: absolute; */
	justify-content: center;
	width: 1200px;
	height: 1300px;
	background-color: #032850;
	border-radius: 30px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-bottom: -10px;
	padding-top: 600px;
	overflow: hidden;
}
.main_cont{
display: flex;
justify-content: center;
position: absolute;
width: 100%;
height: 100px;
left: 0px;
margin: 5% 0% 0% 0%;
padding-bottom: 2%;
/* border-bottom: 0.5px solid rgba(0, 0, 0, 20%); */

}

.ovalH{
	position: absolute;
	font-family: Smoolthan ;
	font-weight: bolder;
	font-size: 80px;
	margin-top: -500px;
	height: 200px;
	
	z-index: 1;
}
#ovalBack{
	position: absolute;
	width: 1200px;
	height: 620px;
	background-color: brown;
	margin-top: -670px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background-size: cover;
	/* background: linear-gradient(#ffffff, #d13531); */
	background-repeat: no-repeat;
	/* filter: brightness(60%); */
}
.prodmenu{
	display: flex;
	margin-left: 20px;
	height: 120px;
	width: 160px;
	bottom: 0px;
	background: #e5e5e5;
	justify-content: center;
	border-radius: 10px;
	/* border: solid 0.5px white;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0); */

}
.icon_round{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	background-color: #efefef;
	box-shadow: 2px 10px 10px rgba(0, 0, 0, 20%);
	margin-bottom: 20px;
	border-radius: 100%;
	
}
.chicksicon{
	height: 30px;
	height: 30px;

}
.iconname{
	text-decoration: none;

}

.bxaligh{
	display: flex;
	width: 100%;
	height: 0%;
	justify-content: center;
	align-items: flex-end;

}
.chname{
	font-family: GothamSSm;
	font-size:15px ;
	margin-bottom: -7px;
	text-align: center;
/*	bottom:200px ;*/
	text-decoration: none;
	color:#14213d ;
	font-weight: bold;
	
}
.sortMenuInfo{
	position:absolute;
	/* display: none; */
	font-family: GothamSSm;
	font-size:12.5px ;
	/* margin-bottom: -7px; */
	text-align: center;
	bottom:10px ;
	text-decoration: none;
	color:#14213d ;
	line-height: 13px;
	width: 140px;
	text-justify: left;
	

}
.divContainer{
	width: 99%;
	height: 600px;
	/* margin:0% 0px 0px 0.5%; */

}
.prodalign{
	/* opacity: 0%; */
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
	background: #f5f5f5;
	align-items: center;


}

.popularItem{
	position: absolute;
	font-family: GothamSSm;
	margin-top: 320px;
	font-size: 40px;
	color: #000717;

}


.productBenfit{
	position: absolute;
	margin-top: 150px;
	border-radius: 10px;
	width: 600px;
	height: 150px;
	background: #e1e1e100;
	font-family: GothamSSm;
	font-size: 14px;
	text-align: center;
	/* word-spacing: -0.5px; */
}

.sepline{
	position: absolute;
	margin-top: 250px;
	height:50px ;
	

}
#sep2{
	margin-left: 30px;
	margin-top:260px ;
	height: 30px;
}


.prodsection{
 display: grid;
  width: 1000px;
  height: auto; 
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
  margin: 40% 0% 0% 0%; 
  box-sizing: border-box;
}
.item1{
margin-top: -50px;
width: auto;
height: 300px;
background: #ffffff;
background-size: cover;
background-repeat: no-repeat;

}
.item1Cont{
	width: auto;
	height: 350px;
	background-color: rgb(235, 241, 244);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 50%);
}

.itreadmdiv{
	position: absolute;
	background-color: rgba(252, 162, 17, 0);
	width: 90px;
	height: 27px;
	margin:60px 0px 0px 200px ;
	text-decoration-line: underline;
    display: flex;
    align-items: center;
	border: none;
    justify-content: center; 
}
.itordermdiv{
    position: absolute;
    background-color: #ffc943;
    width: 100px;
    height: 30px;
    margin: 60px 0px 0px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 

}
.itreadm{
	font-family: GothamSSm;
	font-size: 13px;
	color: #26344b;
	top: 20px;
	text-decoration: none;

}
.itorderm{
	font-family: GothamSSm;
	font-size: 13px;
	text-align: center;
	align-items: center;
	color: #26344b;
	text-decoration: none;
}
.prodit{
	display: flex;
	font-family: GothamSSm;
	color: #000000;
	font-weight: bold;
	text-align: center;
	background: transparent;
	margin-left: 30px;
	margin-top: 5px;
	/* margin: 5px 0px 0px 30px; */
	/* margin: 60px 0px 0px 30px; */
	font-size: 17px;
}
.itemPrice{
	display: flex;
	color: #000000;
	font-weight: normal;
	text-align: center;
	background: transparent;
	margin-top: -5px;
	margin-left: 20px;
	font-family: GothamSSm;
	font-size: 15px;

}
